@use '../utils/' as *;

// COURSE LIST PAGE
.list-link__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(50);
  @include breakpoint-down(medium) {
    width: 90%;
  }
  @include breakpoint-down(small) {
    width: 100%;
  }
}

// COURSE DETAILS PAGE
.course__page-header {
  justify-content: space-around;
  color: white;

  @include breakpoint-down(medium) {
    width: 90%;
    margin: auto;
  }
}

.course {
  @include breakpoint-down(small) {
    & > * {
      font-size: rem(12) !important;
    }
  }
  &__name {
    margin-bottom: rem(8);
    @include breakpoint-down(small) {
      font-size: rem(20) !important;
    }
  }
  &__description {
    max-width: 100% !important;
  }
  .rating {
    width: max-content;
    margin-bottom: rem(8);
    &-review {
      margin-left: rem(20);
    }
  }
  &__instructor {
    margin-bottom: rem(8);
    span {
      margin-left: rem(8);
      color: gainsboro;
      text-decoration: underline;
      &:hover {
        @include transition;
        color: var(--primary);
      }
    }
  }

  &__info {
    width: max-content;
    display: flex;
    justify-content: space-between;
    & > * + * {
      margin-left: rem(40);
    }

    @include breakpoint-down(small) {
      flex-direction: column;
      & > * + * {
        margin-left: 0;
      }
    }
    .update__date,
    .language,
    .duration {
      text-transform: capitalize;
      span {
        margin-left: rem(8);
        color: gainsboro;
      }
    }
  }
}
.review__btn {
  width: min-content;
}

.course__features {
  background-color: var(--bg);
  padding: rem(60) 0;
  margin-bottom: rem(80);

  h3 {
    text-align: center;
    margin-bottom: rem(40);
  }
  .feature__list {
    width: 80%;
    margin: auto;
    list-style: none;
    gap: rem(10) rem(40);

    li {
      position: relative;
      padding-left: rem(24);
      font-size: rem(18);
      color: var(--text);
      width: 100%;
      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: rem(8);
        width: rem(8);
        height: rem(8);
        background-color: var(--primary);
      }
    }
  }
}

.review__section {
  .empty__reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(60) rem(12);
    border-radius: rem(6);
    margin-bottom: rem(100);
    background-color: var(--bg);
  }
}
