@use '../utils/' as *;

.login__page {
  display: flex;
  height: 100vh;

  &-bg {
    position: relative;
    width: calc(100vw - 960px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

    &::before {
      position: absolute;
      content: '';
      background-color: rgba(#121240, $alpha: 0.7);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .triangle {
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: 100%;
      max-width: 50vw;
      z-index: -1;
    }
  }

  .login {
    width: rem(960);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .site-brand {
      margin-bottom: rem(40);
    }
    .site-copyright {
      margin-top: rem(100);
      text-align: center;
    }
  }
}
