@use '../utils/' as *;

.user-info__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .photo {
    border-radius: 50%;
    width: rem(200);
    height: auto;
    margin-bottom: rem(20);
  }
  .username {
    color: white;
  }
  .admin__badge {
    text-transform: uppercase;
    margin-top: rem(8);
    padding: rem(2) rem(4);
    border-radius: rem(4);
    color: white;
    background-color: var(--primary);
  }
  small {
    margin-top: rem(8);
    color: white;
  }
}

.profile__page-wrap {
  // margin-top: rem(60);
  margin-bottom: rem(60);
}
