:root {
  --primary: hsl(240, 72%, 55%);
  --warning: hsl(37, 97%, 70%);
  --danger: hsl(1, 77%, 46%);
  --success: hsl(150, 77%, 46%);

  --bg: hsl(0, 0%, 98%);
  --text: hsl(240, 25%, 40%);

  --grey-dark: hsl(240, 7%, 16%);
  --grey: hsl(240, 4%, 48%);
  --grey-light: hsl(240, 5%, 85%);

  --light: hsl(0, 0%, 95%);
  --dark: hsl(240, 56%, 15%);
  --white: hsl(0, 0%, 100%);

  --php: hsl(210, 72%, 54%);
}
