:root {
  --primary: hsl(240, 72%, 55%);
  --warning: hsl(37, 97%, 70%);
  --danger: hsl(1, 77%, 46%);
  --success: hsl(150, 77%, 46%);

  --bg: hsl(0, 0%, 95%);
  --text: hsl(240, 25%, 35%);

  --grey-dark: hsl(240, 7%, 16%);
  --grey: hsl(240, 4%, 48%);
  --light: hsl(240, 5%, 84%);
  --dark: hsl(240, 56%, 15%);
  --white: hsl(0, 0%, 100%);
}
