@use '../utils/' as *;

// FEATURE CARD
.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: max-content;
  border-radius: rem(6);
  background-color: var(--bg);
  padding: rem(30) rem(40);
  margin: 0;
  z-index: 1;
  @include shadow($y: 12px, $blur: 20px);
  &:hover {
    @include transition;
    filter: brightness(1.1);
  }

  &__image {
    width: rem(64);
    margin-bottom: rem(20);
  }

  &__title {
    margin-bottom: rem(14);
  }
}
// COURSE CARD
.course-card {
  width: 100%;
  background-color: var(--bg);
  border-radius: rem(6);
  overflow: hidden;
  margin: 0;
  @include shadow;

  @include breakpoint-down(small) {
    margin: 0 rem(30);
  }

  &__image-wrap {
    position: relative;
    width: 100%;
    height: rem(200);

    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .badge {
      position: absolute;
      top: rem(8);
      right: rem(8);
      background-color: var(--text);
      color: var(--bg);
      padding: rem(2) rem(6);
      border-radius: rem(4);
      text-transform: uppercase;
      font-weight: 500;
      font-size: rem(14);
    }

    // Badge Categories
    .php {
      background-color: var(--php);
    }
    .html {
      background-color: var(--html);
    }
    .javascript {
      background-color: var(--javascript);
    }
    .react {
      background-color: var(--react);
    }
    .unity {
      color: white;
      background-color: var(--unity);
    }
    .ue4 {
      background-color: var(--ue4);
    }
    .zbrush {
      color: var(--dark);
      background-color: var(--zbrush);
    }
    .blender {
      background-color: var(--blender);
    }
  }

  &__body {
    padding: rem(20);

    a {
      color: var(--text);
      &:hover {
        .title {
          @include transition;
          color: var(--primary);
        }
      }
    }

    p {
      font-size: rem(15);
      margin-top: rem(12);
    }
  }
}

// TESTIMONIAL CARD
.testimonial-card,
.review-card {
  position: relative;
  width: 90%;
  height: 100%;
  border-radius: rem(6);
  background-color: var(--bg);
  padding: rem(24) rem(40);
  margin: 0;
  display: flex;
  flex-direction: column;

  @include shadow;

  .quote-icon {
    position: absolute;
    left: rem(16);
    top: rem(10);
    font-size: rem(60);
    color: rgba($color: #8f8da0, $alpha: 0.1);
    margin-right: rem(12);
  }

  &__comment {
    // margin-top: rem(20);
    margin-bottom: rem(20);
  }

  &__user {
    display: flex;
    align-items: center;
    margin-top: auto;

    .user__image {
      border-radius: 50%;
      width: rem(60);
      height: rem(60);
      margin-right: rem(20);
    }

    .user__info {
      .username {
        font-weight: 500;
        font-size: rem(18);
      }
    }
  }
}

// REVIEW CARD
.review-card {
  position: relative;
  width: 100%;
  box-shadow: none;
  margin-bottom: rem(20);

  &__user {
    align-items: flex-start;

    .user__image {
      width: rem(60);
      height: rem(60);
    }
    .course__image {
      width: rem(120);
      height: auto;
      border-radius: rem(4);
      margin-right: rem(20);
    }
    .user__info {
      .course-link {
        h4 {
          &:hover {
            @include transition;
            color: var(--primary) !important;
          }
        }
      }
    }
  }

  &__comment {
    margin-top: rem(20);
  }
}

// INSTRUCTOR CARD
.instructor-card {
  width: 100%;
  background-color: var(--bg);
  border-radius: rem(6);
  display: flex;
  align-items: center;
  margin: 0;
  overflow: hidden;
  @include shadow;

  @include breakpoint-down(medium) {
    flex-direction: column;
  }

  .portrait {
    width: rem(250);
    height: 100%;

    @include breakpoint-down(medium) {
      width: 100%;
      height: auto;
    }
  }

  .instructor__info {
    padding: rem(30);
    display: flex;
    flex-direction: column;
    width: 100%;

    &-name {
      margin-bottom: rem(10);
      font-weight: 500;
    }

    &-intro {
      margin-bottom: rem(6);
    }

    &-link {
      margin-left: auto;
      text-decoration: underline;
      display: flex;
      align-items: center;

      span {
        font-size: rem(16);
        margin-top: rem(5);
        margin-left: rem(4);
      }
      &:hover {
        span {
          @include transition;
          transform: translateX(4px);
        }
      }
    }

    &-social {
      margin-top: rem(8);
      & > * {
        margin-right: rem(24);
        padding: rem(6);
        border-radius: 50%;
        font-size: rem(30);
        color: var(--text);
        background-color: var(--grey-light);
      }
    }
  }
}
