@use '../utils' as *;

footer {
  margin-top: auto;
  padding-top: rem(60);
  background-color: var(--bg);
}

.footer__content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: rem(80) rem(10);

  @include breakpoint-down(small) {
    flex-direction: column;
    align-items: center;
  }

  & > * {
    width: 33.33%;

    @include breakpoint-down(small) {
      width: 90%;
      margin-bottom: rem(24);
    }
  }

  &-info {
    .site-brand {
      margin-bottom: rem(12);
      .text {
        color: var(--text);
        font-family: var(--font-title);
        font-size: rem(24);
        font-weight: 500;
        letter-spacing: -1px;
        margin-right: rem(4);
      }
      .logo {
        height: auto;
        width: rem(18);
        margin-right: rem(8);
        // padding: rem(28) 0;
      }
    }
    p {
      width: 60%;
    }
  }

  &-links,
  &-contact {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: rem(16);
        a {
          color: var(--text-50);
        }
      }
    }
  }

  &-contact {
    ul {
      li {
        color: var(--text-50);
        display: flex;
        align-items: center;
        svg {
          margin-right: rem(16);
          font-size: rem(16);
        }
      }
    }
  }
}

.footer__copyright {
  text-align: center;
  padding: rem(24);
  color: var(--text-50);
  border-top: 1px solid var(--grey);
  font-weight: 300;
  font-size: rem(14);
}

.join-link {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(60) rem(20);
  border-radius: rem(6);
  overflow: hidden;
  z-index: 0;
  @include shadow($y: 10px, $blur: 20px);
  @include offsetY($bottom: rem(-60));

  &::before {
    position: absolute;
    content: '';
    background-color: rgba(#121240, $alpha: 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  h3 {
    color: white;
    margin-bottom: rem(30);
    text-align: center;
  }
}
