@use '../utils' as *;

.navbar-scrolled {
  @include transition;
  @include shadow($y: 4px);
  height: rem(72) !important;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: rem(0) rem(200);
  height: rem(84);
  z-index: 99;

  @include breakpoint-down(large) {
    padding: rem(0) rem(64);
  }
  @include breakpoint-down(medium) {
    flex-direction: column;
    padding: rem(0) rem(24);
    height: rem(72);
  }

  &__menu {
    position: relative;
    height: 100%;
    &-brand {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .text {
        color: var(--text);
        font-family: var(--font-title);
        font-size: rem(25);
        font-weight: 500;
        letter-spacing: -1px;
        margin-right: rem(4);
        margin-top: rem(2);
      }
      .logo {
        height: auto;
        width: rem(20);
        margin-right: rem(8);
      }
    }

    &-toggler {
      margin-left: auto;
      display: none;
      align-items: center;
      background: none;
      border: none;
      font-size: rem(24);
      color: var(--text);
      cursor: pointer;
      @include breakpoint-down(medium) {
        display: flex;
      }
    }

    @include breakpoint-down(medium) {
      width: 100%;
      display: flex;
    }
  }

  &-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    @include transition;
    .nav__list {
      height: 100%;
      display: flex;
      list-style: none;
      @include breakpoint-down(medium) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &-item {
        position: relative;
        display: flex;
        margin: auto rem(16);
        z-index: 1;
        @include breakpoint-down(medium) {
          margin-bottom: rem(30);
        }

        &__link {
          color: var(--text);
          font-weight: 500;
          font-size: rem(17);
          position: relative;
          &::before {
            position: absolute;
            bottom: rem(-10);
            left: 50%;
            transform: translateX(-50%);
            content: ' ';
            height: rem(3);
            width: 0;
            background-color: var(--primary);
          }
          &:hover {
            @include transition;
            color: var(--primary);
            &::before {
              @include transition;
              width: rem(24);
            }
          }
        }
      }
    }

    @include breakpoint-down(medium) {
      flex-direction: column;
      display: none;
    }
  }
  .collapse {
    @include breakpoint-down(medium) {
      height: max-content;
      @include transition;
      @include shadow($y: 10px);
      position: absolute;
      top: rem(72);
      display: flex;
      background-color: var(--bg);
      ul {
        margin-right: 0;
        padding-left: 0;
      }
    }
  }

  .active {
    &::before {
      position: absolute;
      bottom: rem(-10);
      left: 50%;
      transform: translateX(-50%);
      content: ' ';
      height: rem(3);
      width: rem(24);
      background-color: var(--primary);
    }
  }
}

.dropdown__item {
  height: 100%;
  @include breakpoint-down(medium) {
    display: flex;
    flex-direction: column;
  }
  &:hover {
    .nav__dropdown {
      @include shadow;
      display: flex;
    }
  }
}

.user__info-link {
  display: flex;
  align-items: center;
  cursor: pointer;

  @include breakpoint-down(medium) {
    justify-content: center;
  }
  .user__photo {
    border-radius: 50%;
    border: 1px solid var(--grey-light);
    width: rem(38);
    height: auto;
    margin-right: rem(6);
  }
  .dropdown__arrow {
    font-style: rem(20);
    color: var(--text);
  }

  &:hover {
    .dropdown__arrow {
      @include transition;
      color: var(--primary);
    }
  }
}

.nav__dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: rem(66);
  left: rem(10);
  width: max-content;
  padding-left: 0;
  list-style: none;
  background-color: var(--bg);
  border-top: 2px solid var(--primary);
  border-radius: rem(6);

  @include breakpoint-down(medium) {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    align-items: center;
    border-top: none;
    &::before {
      display: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: rem(8);
    top: rem(-8);
    left: rem(4);
    width: 0;
    height: 0;
    border-width: 0 6px 6px 6px;
    border-color: var(--primary) transparent;
    border-style: solid;
  }

  &-item {
    padding: rem(8) rem(32);
  }

  &-item:first-child {
    border-bottom: 1px solid var(--grey-light);
    background-color: var(--bg-50);
    font-size: rem(14);
    margin-bottom: rem(16);
    padding-top: rem(14);
    padding-bottom: rem(14);
    div:last-child {
      font-weight: 500;
      color: var(--primary);
    }

    @include breakpoint-down(medium) {
      background: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  &-item:last-child {
    margin-bottom: rem(30);
    a {
      display: flex;
      align-items: center;
      svg {
        margin-left: rem(4);
      }
    }
  }
}

.admin__badge {
  text-transform: uppercase;
  background-color: var(--primary);
  padding: rem(2) rem(4);
  color: white;
  border-radius: rem(4);
  margin-top: rem(6);
  margin-left: rem(8);
  font-size: rem(10);
}

.dark__mode-toggler {
  display: flex;
  align-items: center;
  padding-left: rem(12);
  font-size: rem(14);

  @include breakpoint-down(medium) {
    padding-bottom: rem(40);
    padding-left: 0;
    border-left: none;
  }

  .dark__mode-btn {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
  }

  .icon {
    font-size: rem(20);
    color: var(--text);
    &-active {
      @include transition($duration: 0.2s);
      color: var(--warning);
    }
  }
}
