@use '../utils/' as *;

.rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: rem(8);
  margin-bottom: 0;

  &-star {
    .rating__value {
      color: var(--text);
      margin-right: rem(8);
    }
    .rating__icon {
      font-size: rem(14);
      color: var(--warning);
      margin-right: rem(2);
    }
  }
  .rating-review {
    color: var(--text);
  }
  .dark {
    color: white !important;
  }
}
